@using OrderDeliverySystem.AdministrationPanel.Services.Order.Models;


<div class="modal" style="display: @(IsVisible ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button type="button" class="close" @onclick="Hide">&times;</button>
            </div>
            <div class="modal-body">
                @if (Order != null)
                {
                    <p>OrderId: @Order.OrderId</p>
                    <p>Items: @Order.OrderItems.Count</p>
                    <p>Status: @Order.Status</p>
                    <p>Description: @Order.Description</p>
                    <!-- Add more details as needed -->
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Hide">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private OrderDto Order;
    private bool IsVisible;

    public void Show(OrderDto order)
    {
        Order = order;
        IsVisible = true;
    }

    private void Hide()
    {
        IsVisible = false;
    }
}